<h1 class="center">Blog List</h1>

<%= form_tag user_blogs_path(@user), method: "get" do %>
  <%= text_field_tag :query %>
  <%= submit_tag :search, class: "btn" %>
<% end %>

<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <% if current_user == @user %>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @blogs %>
  </tbody>
</table>