<h1 class="center">Blog List</h1>

<%= form_tag blogs_path, method: "get" do %>
  <%= text_field_tag :query %>
  <%= submit_tag :search, class: "btn" %>
<% end %>

<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= render @blogs %>
  </tbody>
</table>